{% assign navurl = page.url | remove: 'index.html' %}

{% for my_page in include.nav %}
{% if my_page.subitems and navurl contains my_page.url %}

<div class="article-col" show-gt-sm hide>

  <div style="margin-top: 38px;"></div>
  <div class="article-bar">
    <h3 class="padding">{{ my_page.menu }}</h3>
    <p class="padding">{{ my_page.desc }}</p>

    <ul data-uk-sticky="{top:71,media: '(min-width: 640px)'  }" class="article-nav uk-nav">

      <li class="{% if navurl == my_page.url %}uk-active{% endif %}">
        <a href="{{site.baseurl}}{{ my_page.url }}">Intro</a>
      </li>

      {% if navurl == my_page.url and page.contents %}

      <ul class="uk-nav">
        {% for content in page.contents %}
        <li><a href="#{{content.url}}" du-smooth-scroll offset="51">{{ content.name }}</a></li>
        {% endfor %}
      </ul>

      {% endif %}

      {% for subitem in my_page.subitems %}
      <li class="{% if navurl == subitem.url %}uk-active{% endif %}"><a href="{{site.baseurl}}{{ subitem.url }}">{{ subitem.menu }}</a></li>



      {% if navurl == subitem.url and page.contents %}

      <ul class="uk-nav">
        {% for content in page.contents %}
        <li><a href="#{{content.url}}" du-smooth-scroll offset="51">{{ content.name }}</a></li>
        {% endfor %}
      </ul>

      {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>

{% endif %}
{% endfor %}