<div class="uk-navbar uk-navbar-attached sub-navbar">
	<div class="uk-container uk-container-center">
	<div class="uk-flex">
	<ol class="uk-breadcrumb sub-breadcrumb">
	<li><a href="{{ site.baseurl }}/">V²Plan</a></li>
	{% capture page_url_without_index_html %}{{ page.url | remove: "/index.html" }}{% endcapture %}
	{% assign splitted_url_parts = page_url_without_index_html | split: '/' %}
	{% capture forLoopMaxInt %}{{ splitted_url_parts.size | minus:1 }}{% endcapture %}
	{% for i in (1..forLoopMaxInt) %}
	    {% capture current_breadcrumb_url %}{{next_prepender}}/{{ splitted_url_parts[i] }}/index.html{% endcapture %}
	    {% capture current_breadcrumb_md_url %}{{next_prepender}}/{{ splitted_url_parts[i] }}/{% endcapture %}
	    {% capture next_prepender %}{{next_prepender}}/{{ splitted_url_parts[i] }}{% endcapture %}
	    {% for breadcrumb_page in site.pages %}

	        {% if current_breadcrumb_url == breadcrumb_page.url or
	              current_breadcrumb_md_url == breadcrumb_page.url %}
	            {% capture breadcrumb_page_page_url_without_index_html %}{{ breadcrumb_page.url | remove: "index.html" }}{% endcapture %}
	                {% assign j = forLoopMaxInt | plus: 0 %}
	                <li {% if i == j %}class="active"{% endif %}>
	                <a href="{{ site.baseurl }}{{breadcrumb_page_page_url_without_index_html}}">{{breadcrumb_page.breadcrumbs}}</a>
	            </li>
	        {% endif %}
	    {% endfor %}
	{% endfor %}
	</ol>
		<ul class="uk-navbar-nav sub-navbar-nav">
			{% assign pages = site.pages | sort:"order"  %}
     	{% for my_page in pages %}
     	  {% if my_page.title %}
     	  {% if my_page.title != "V² Plan Home" %}
     	  <li><a href="{{ my_page.url | prepend: site.baseurl }}" class="{% if page.url == my_page.url %}uk-active{% endif %}">{{ my_page.title }}</a></li>
     	  {% endif %}
     	  {% endif %}
     	{% endfor %}
     </ul>
	</div>
	</div>
</div>