<!DOCTYPE html>
<html ng-app="site">

  {% include head.html %}

  <body ng-controller="mainController as vm">

    {% include header.html %}

    <div class="jumbotron">
      <div class="uk-container uk-container-center">
        <h1>Plan</h1>
        <p>How V² will improve your life, how we make it happen and how you can help. In addition V²Plan System is growing into a generic Agile Development & Toyota Production System easily adaptable to any GitHub Organization.</p>
      </div>
    </div>
    
    {% include sub-header.html nav=site.data.book-bar %}

    <div class="page-content">
      <div class="uk-container content-body uk-container-center">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
